* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family: 'Open Sans', sans-serif;
}
nav	{
	padding: 0.8rem;
	margin: 2em;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
.header{
	text-align: center;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}
#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
}
#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin bottom: 1rem;
}
#succeed-info .card{
	display: inline-block;
    vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
footer{
	padding: 0.7rem;

}
footer span{
	margin-right: 0.5rem;
	margin-left:0.5rem;
}
#pre-footer .card-prefooter{
	display: inline-block;
    vertical-align: top;
	width: 17%;
	margin-left: 1.5rem;
	margin-right: 0.5rem;
	margin-top: 1.5rem;
	font-size: 15px;

}
#pre-footer .card-prefooter-follow{
	display: inline-block;
    vertical-align: top;
	width: 17%;
	margin-left: 1.5rem;
	margin-right: 0.5rem;
	margin-top: 4.0rem;
	font-size: 15px;

}
#pre-footer .card-prefooter1{
	display: inline-block;
    vertical-align: top;
	width: 25%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 15px;


}
#pre-footer{
background-color: #002540;
color: white;

}
p{
	 line-height: 1.5;
}
